html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a{
    text-decoration:none;
}

.wrap{
    width: 100%;
    margin: auto;
    font-family: 微軟正黑體;  
    
}
.clear{
    clear: both;
}
.header{
    height: 60px;
    box-shadow:3px 3px 5px 6px black;
}
.content{
    background-color: #F7F7F7;
    padding-top: 40px;
    height: 100vh;
    /* position: relative;  */
}
.footer{
    background-color: #F7F7F7;
}
/* hrader */
.headerContent{
    width: 100%;
    position: fixed;
    top: 0;
    display: block;
    background-color: #226A4D;
    color: white;
    z-index: 2;
}
.companyImg{
    float: left;
    margin-left: 100px;
    margin-top: 15px;
    margin-bottom: 13px;
}
.title{
    float: left;
    padding-left: 20px;
    padding-top: 25px;
    font-size: 25px;
}
.photo{
    float: right;
    margin-right: 100px;
    margin-top: 15px;
    margin-bottom: 13px;
}
.identity{
    color: red;
    float: right;
    margin-top: 35px;
    margin-right: 20px;
    font-size: 20px;
}
.menu{
    float: right;  
    margin-top: 35px;
    margin-right: 30px;
}
.menu li{
    float: left;
    margin-right: 20px;
}
.menu li a{
    font-size: 16px;
    letter-spacing: 2px;
    color: white;
    display: block;
}
/* content */
.breadcrumb{
    margin-top: 10px;
    margin-left: 7%;   
}
.breadcrumb a{  
    float: left;
    font-size: 16px;
    color: black;
}
.breadcrumb-item::after{
    content: "\00a0 >\00a0 ";
    color: black;
}

.page{
    font-size: 25px;
    font-weight: bold;
    margin-top: 30px;  
    margin-left: 7%;
    margin-right: 20%;
}
.el-table th,.el-table td{
    text-align: center;
}
.showMenu{
    display: none;
}
#logout{
    display: none;
}
/* footer */
.phoneMenu{
    display: none;
}
@media (max-width: 768px){
    .page{
        font-size: 18px;
        margin-top: 0px;
        margin-left: 20px;
        margin-right: 20px;
    }
    .header{
        height: 35px;
    }
    .companyImg{
        display: none;
    }
    .title{
        font-size: 16px;
        margin: 5 auto;
        width: 65%;
        padding: 10px;
        text-align: center;
    }
    .photo{
        display: none;
    }
    .identity{
        display: none;
    }
    .breadcrumb{
        display: none;
    }
    .menu{
		/*隱藏選單開始*/
		max-height: 0;
		overflow: hidden;
		/*隱藏選單結束*/
		/*漸變效果*/
    	transition: max-height 2.3s;
        margin-top: 0px;
        margin-right: 0px;
    	/*絕對定位疊在網頁上*/
    	position: absolute;
    	/*權重*/
    	z-index: 100;
    	/*header 80px+1px boder 線條*/
    	top: 35px;
    	/* left:0 right:0表示滿版 */
    	left: 0;
   		right: 0;
    	background: #226A4D;
    }
    .menu li{
        width: 100%;
        float: none;
        text-align: center;
        border-top: #ccaf6f solid 1px;    
	}
	.menu li a{
        padding: 15px;
        transition: all 0.3s;
        font-size: 14px;
  	}
	.menu li a:hover{
    	background: #ccaf6f ;
    	color: #fff;
  	}
	.showMenu{
        width: 10%;
    	display: block;
        float: left;
        padding-top: 12px;
        margin-left: 7%;
    }
    #logout{
        display: block;
    }
    /*jQuery點擊後動態在 body 加上 class */
  	.menu-show .menu{
        max-height: 500px;
    }
    .phoneMenu{
        width: 100%;
        display: block;
        position: fixed;
        bottom: 0;
        text-align: center;
        background-color: #226A4D;
    }
    .phoneMenu li{  
        width: 25%;
        padding-top: 5px;
        padding-bottom: 5px;
        float: left;
        text-align: center;
    }
    .content{
        padding-top: 20px;
    }
}